*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 960px; */
}
/* all images style */
img{
    width: 270px;
    height: 120px
}

/* header and nav */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 150px;
    background-color: purple;
}
.figcaption p{
    font-weight: bold;
    font-size: small;
}
.logo{
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.nav-bar {
    width: 50%;
}
.list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    align-items: center;
} 
.nav-bar a{
    padding: 15px;
    text-decoration: none;
}
button{
    background-color: brown;
    padding: 5px;
    border-radius: 10%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    width: 105px;
}

.showcase{
    display: flex;
    padding: 20px;
    margin-top: 150px;
    justify-content: space-evenly;
}
.showcase-items{
    margin: 5px;
}
.showcase-items p {
    font-size: 16px;
}
.testemonial{
    display: flex;
    padding: 20px;
    margin: 100px auto;
    align-items: center;
    justify-content: space-evenly;
    
}
.testemonial img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    margin: -15px auto;
}
.review{
    margin: 5px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px  7px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: cornflowerblue;
}
.review h4{
    padding: 15px;
    text-align: center;
}
.review p{
    font-size: 16px;
    line-height: 1.2;
    padding: 5px;
}
.footer{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: white;
}
.social-media .fab{
    padding: 0px 5px;
}
@media screen and (max-width: 480px) {
    .banner{
        flex-direction: column;
        height: 350px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
        max-width: 100%;
    }
    .logo img{
        display: block;
        position: relative;
        right: 40px;
        padding-bottom: 20px;
    }
    .list{
        flex-direction: column;
        justify-content: flex-start;
    }
    .showcase{
        flex-direction: column;
        margin-top: -10px;
    }
    .testemonial{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        margin: 20px;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
    }
    .footer li{
        display: inline-block;
        padding: 10 5px;
        margin: 10px 0;
    }
    .social-media{
        margin-top: 10px;
    }
}

